{% extends 'base.html' %}
{% block title %}Trainees{% endblock title %}
{% block body %}
<div class="my-3 container-fluid">
    <h4>Training Detail</h4>
    <div class="training-detail">
        <p>Subject: {{training.subject}}</p>
        <p>Start Date: {{training.start_date}}</p>
        <p>Days: {{training.days}}</p>
    </div>
    <div class="add-trainee">
        <form method='GET' action="/students/new_enrollment">
            <div class='mb-3 col-md-4'>
                <label class='form-label float-start'>Add Trainee</label>
                <input type='number' class='form-control' placeholder='Enter Employee No' name='employee_no' required>
                <input type="text" hidden value="{{request.GET.training_id}}" name='class_name'>
            </div>
        <button type='submit' class='btn btn-primary btn-sm'>Find Student</button>
    </form>
    </div>
    <h4>Trainees ({{trainees|length}})</h4>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>Employee No</th>
                    <th>Employee Name</th>
                    <th>Designation</th>
                    <th>Department</th>
                    <th>Posting Place</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                {% for trainee in trainees %}
                <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>{{trainee.employee.emp_no}}</td>
                    <td><a href="/employees/view_employee?emp_id={{trainee.employee.id}}">{{ trainee.employee.name }}</a></td>
                    <td>{{ trainee.employee.designation }}</td>
                    <td>{{ trainee.employee.department }}</td>
                    <td>{{ trainee.employee.posting_place }}</td>
                    <td>{{ trainee.employee.phone }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock body %}