{% extends 'base.html' %}
{% block title %}Change Password{% endblock title %}
{% block body %}
<script>
    function validatePassword(password) {
        const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()\-_=+])[a-zA-Z\d!@#$%^&*()\-_=+]{8,16}$/;
        return regex.test(password);
    }
    function check() {
        let pwd1 = document.getElementById('pwd1').value;
        let pwd2 = document.getElementById('pwd2').value;
        let validation = validatePassword(pwd1)
        if (validation == true) {
            document.getElementById('submitBtn').disabled = false;
            document.getElementById('message1').style.display = 'none'
        } else {
            document.getElementById('submitBtn').disabled = true;
            document.getElementById('message1').style.display = 'block'
        }
        if ((pwd1 == pwd2) & validation) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'Both passwords matched';
            document.getElementById('submitBtn').disabled = false;
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'Both passwords not matched';
            document.getElementById('submitBtn').disabled = true;
        }
    }
</script>
<center>
    <h4 class="mt-3">Change Password</h4>
    <form method="POST" class="mt-3" style="width: 300px" action="">
        {% csrf_token %}
        <div class="mb-3">
            <label for="old_password" class="form-label float-start">Old Password</label>
            <input required type="password" class="form-control" name="old_password">
        </div>
        <div class="mb-3">
            <label for="pwd1" class="form-label float-start">Type new password</label>
            <input onkeyup='check(this);' minlength="8" maxlength="16" required type="password" class="form-control"
                id="pwd1" name="pwd1">
            <small id='message1' class="float-start text-danger">Password should contain at least 1 lowercase letter, 1 uppercase letter, 1 number, 1 special character only from !@#$%^&*()-_=+ and minimum 8 character long</small>
        </div>
        <div class="mb-3">
            <label for="pwd2" class="form-label float-start">Type new password again</label>
            <input onkeyup='check(this);' minlength="8" maxlength="16" required type="password" class="form-control"
                id="pwd2" name="pwd2">
            <span id='message' class="float-start"></span><br>
        </div>
        <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
    </form>
</center>
{% endblock body %}