{% extends 'base.html' %}
{% block title %}All Employees{% endblock title %}
{% block body %}
<div class="my-3 container-fluid">
    <form class="mb-3" role="search" action='/employees/view_employee'>
        <div class='input-group'>
            <input name='emp_no' class="form-control" type="number" min='1' aria-label="Search" placeholder='enter employee no' required>
            <button class="btn btn-primary" type="submit">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </form> 
    <h4>All Employees ({{total_emp_nos}})</h4>
    <div class="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if employees.has_previous %}
                    <li class="page-item"><a class='page-link' href="?page=1">First</a></li>
                    <li class="page-item"><a class='page-link' href="?page={{ employees.previous_page_number }}"><i class="bi bi-caret-left-fill"></i></a></li>
                {% endif %}
                <span class="current mx-3">
                    Page {{ employees.number }} of {{ employees.paginator.num_pages }}
                </span>
                {% if employees.has_next %}
                    <li class='page-item'><a class='page-link' href="?page={{ employees.next_page_number }}"><i class="bi bi-caret-right-fill"></i></a></li>
                    <li class='page-item'><a class='page-link' href="?page={{ employees.paginator.num_pages }}">Last</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Emp No</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Deptt</th>
                    <th>Posting Place</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th style='min-width:150px'>Remark</th>
                    <th style='min-width:150px'>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for empl in employees %}
                <tr>
                    <td><a href= "/employees/view_employee?emp_no={{empl.emp_no}}">{{ empl.emp_no }}</a></td>
                    <td>{{ empl.name }}</td>
                    <td>{{ empl.designation }}</td>
                    <td>{{ empl.department }}</td>
                    <td>{{ empl.posting_place }}</td>
                    <td>{{ empl.phone }}</td>
                    <td>{{ empl.email }}</td>
                    <td>{{ empl.remark }}</td>
                    <td>
                    <a href= "/employees/view_employee?emp_no={{empl.emp_no}}">Trainings</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if employees.has_previous %}
                    <li class="page-item"><a class='page-link' href="?page=1">First</a></li>
                    <li class="page-item"><a class='page-link' href="?page={{ employees.previous_page_number }}"><i class="bi bi-caret-left-fill"></i></a></li>
                {% endif %}
                <span class="current mx-3">
                    Page {{ employees.number }} of {{ employees.paginator.num_pages }}
                </span>
                {% if employees.has_next %}
                    <li class='page-item'><a class='page-link' href="?page={{ employees.next_page_number }}"><i class="bi bi-caret-right-fill"></i></a></li>
                    <li class='page-item'><a class='page-link' href="?page={{ employees.paginator.num_pages }}">Last</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div>
        <form action="/employees/all_employees" method="get">
            <input type="number" name='page' placeholder="Page number">
            <button class='btn btn-sm btn-primary'>Goto Page</button>
        </form>
    </div>
</div>

{% endblock body %}