{% extends 'base.html' %}
{% block title %}Edit employee{% endblock title %}
{% block body %}
<div class="my-3 container">
    <h4>Edit employee</h4>
    <form method='POST' action="/employees/edit_employee?emp_no={{request.GET.emp_no}}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
                <div class="col-md-4 mb-2">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <div class='text-danger mb-2' id='fileErrror' style="display:none ;">Error! Photo size is greater than 100kb </div>
            <div class="col-md-4 mb-3">
                <label for="photo">Photo</label>
                <img  {% if form.instance.photo and form.instance.photo.url %} src="{{form.instance.photo.url}}" {% endif %} alt="student photo" id='photo' style="display: block;" width="100">
            </div>
        </div>
        <button type='submit' id='submitBtn' class='btn btn-primary px-5'
            onclick="return confirm('Confirm the data before submit. Click OK to continue ?')">Update</button>
    </form>
    <script>
        id_photo.onchange = validateFile;
        function validateFile() {
            const selectedFile = document.getElementById("id_photo").files[0];
            if (selectedFile) {
                let fileSize = document.getElementById('id_photo').files[0].size / (1024);
                if (fileSize <= 100) {
                    document.getElementById("submitBtn").disabled = false;
                    document.getElementById("fileErrror").style.display = "none";
                    const objectURL = URL.createObjectURL(selectedFile);
                    // Set the src attribute of the image to the URL
                    document.getElementById("photo").src = objectURL;
                } else {
                    document.getElementById("submitBtn").disabled = true;
                    document.getElementById("fileErrror").style.display = "block";
                    document.getElementById("photo").src = '';
                }
            } else {
                document.getElementById("submitBtn").disabled = true;
                document.getElementById("fileErrror").style.display = "none";
                document.getElementById("photo").src = '';
            }
        }
    </script>
</div>

{% endblock body %}